<div class="message-board">
<% if @existing_chats_users %>
   <% @existing_chats_users.each do |other_user| %>
    <% if other_user != current_user %>
    <% @other_user = other_user%>
    <% end %>
    <% end %>
    <h3>Active Messages With:</h3>
    <ul>
        <% @chats.uniq.each do |chat|%>
        <li>
        <%= link_to(user_chats_path(current_user, :other_user => @other_user.id, :post => chat.post.id ), method: :post) do %>
        <%if chat.post != nil%>
        <%="Username: #{@other_user.username} -- Subject: #{chat.post.name}" %>
        <% end %>
      </li>
      <% end %>
      <% end %>
</ul>
<% else %>
<h3>There are no messages at this time</h3>
<% end %>
</div>
