 <% if @existing_chats_users %>
   <% @existing_chats_users.each do |other_user| %>
    <% if other_user != current_user %>
    <% @other_user = other_user%>
    <% end %>
    <% end %>
    <% end %>
    Active Messages With:
    <ul>
        <% @chats.uniq.each do |chat|%>
        <%= chat.post.name%>
        <li>
        <%= link_to(user_chats_path(current_user, :other_user => @other_user.id, :post => chat.post.id ), method: :post) do %>
        <%="#{@other_user.username} regarding #{chat.post.name}" %>
        <% end %>
      </li>
      <% end %>
</ul>
