<div class="message-board">
  <h2 class="center"> Messages</h2>

      <% if @chats.count != 0 %>
      <% @chats.reverse.each do |chat|%>
      <% if chat.post != nil%>
        <% @other_user = User.find_by_id(chat.subscriptions[0].user_id)%>
      <%= link_to(user_chat_path(current_user, chat, :other_user => @other_user.id), method: :get) do %>
          <%= image_tag(@other_user.picture) if @other_user.picture.attached?%>
          <%= "Message from: #{@other_user.username.capitalize} regarding post: #{chat.post.name}" %> <br> <br>
          <% end %>
          <% end %>
        <% end %>
      <% end %>
</div>


<!--  chat.subscriptions coulve been chat.users-->

