<h1>Your Posts</h1>


<%=@post.picture.attachment.nil? ? content_tag(:div, "#{@post.name.first}", class: "default"): image_tag(@post.picture, class: "pst-img")%>
<%=@post.name%>
<%=@post.description%>
<%=@post.tags%>
