// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-grid {
  display: grid;
  grid-template: 100% /  50% 50%;
  justify-content: center;
  grid-gap: 5%;
  color: #252839;
  padding-bottom: 7%;
}

.post-grid img {
  width: 100%;
  height: 400px;
}

.post-grid a {
  color: #865e07;
}

.post-grid a:hover {
  color: #f2b632;
}

.img-default {
  background-image: url('/assets/no-image-available.png');
  background-size: 100% 100%;
  height: 100%;
}

.related-posts {
  padding-top: 2%;
}

.post-icon img{
  height: 25px;
  width: 25px;
}

.post-icon span{
  font-size: .5em;
}

.post-icon .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #414141;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  margin-top: -20px;
}

.post-icon:hover .tooltiptext {
  visibility: visible;
}
