// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
  width: 100%;
  display: inline-grid;
  grid-template: 100% / 40% 60%;
  padding: 2%;
  grid-gap: 2%;
}

.user-profile div:nth-child(1) img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-posts {
  display: block;
  padding-bottom: 10%;
  height: 100%;
}

.user-default {
  border-radius: 50%;
  height: 100%;
  background-image: url('/assets/default-avatar.jpg');
  background-blend-mode: overlay;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.posts-grid {
  display: inline-grid;
  width: 100%;
  grid-template: auto / repeat(3, 30%);
  grid-gap: 5%;
}

.post {
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .3);
  padding-bottom: 2%;
}


.posts-img {
  width: 100%;
  height: 200px;
}

.post-default {
  background-image: url('/assets/no-image-available.png');
  background-size: 100% 100%;
  height: 200px;
}

.description {
  padding: 3.5%;
}
