// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile {
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template: 100% / 50% 50%;
  padding-top: 2%;
  padding-bottom: 7%;
  grid-gap: 2%;
}

.user-img img {
  width: 100%;
  height: 100%;
  border-radius: 55%;
}

.user-posts {
  display: block;
  padding-bottom: 10%;
  height: 100%;
}

.user-default {
  border-radius: 50%;
  height: 100%;
  background-image: url('/assets/default-avatar.jpg');
  background-blend-mode: overlay;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.posts-grid {
  display: inline-grid;
  width: 100%;
  grid-template: auto / repeat(3, 30%);
  grid-gap: 5%;
  width: 100%;
}

.post {
  background-color: #252839;
  color: #F1F1EF;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .3);
  padding-bottom: 2%;
}


.posts-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-default {
  background-image: url('/assets/no-image-available.png');
  background-size: 100% 100%;
  height: 200px;
}

.description {
  padding: 3.5%;
}

.icon img{
  height: 40px;
}

.icon:hover img{
  background: #f2b632;
}
