<% if logged_in? %>
<nav role='navigation'>
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <%user = User.find(session[:user_id])%>
    <ul class="center" id="menu">
      <%= image_tag(user.picture) %><br>
      <h3>Hello, <%= user.first_name %></h3><br>
      <br>
      <%= link_to 'View Profile & Posts', user_path(session[:user_id]) %><br>
      <br>
      <%= link_to 'Create a new post', new_post_path %>
    </ul>
  </div>
</nav>
<% end %>
