<div class="topnav-container">


<div class="grid-item"><%= link_to "Home", root_path %> </div>
<div class="grid-item"><%= link_to "Cat", root_path %></div>
<div class="grid-item"><%= link_to image_tag("/assets/cc.png", :class =>"cc-image"), root_path %></div>
<div class="grid-item"><input type="search" placeholder="Search"></input></div>
<div class="grid-item"> <%= link_to 'Logout', logout_path, method: :delete %></div>

</div>
