<style media="screen">
  #search-btn {
    display: none;
  }
</style>
<% if logged_in? %>
<div class="topnav-container">

  <div class="grid-item grid-ignore"></div>
  <div class="grid-item grid-ignore"></div>
  <div class="grid-item nav-link-ltr"><%= link_to "Home", root_path %> </div>
  <div class="grid-item nav-link-ltr"><%= link_to "Categories", root_path %></div>
  <div class="grid-item grid-ignore"><%= link_to image_tag("/assets/tc2.png", :class =>"cc-image animated swing"), root_path %></div>
  <div class="grid-item grid-ignore">
    <form class="" action="/" method="get">
      <input type="search" name="search" placeholder="Search">
    </input><input id="search-btn" type="submit" name="submit" value="Search">
    </form>
</div>
  <div class="grid-item nav-link-ltr"> <%= link_to 'Logout', logout_path, method: :delete %></div>
  <div class="grid-item grid-ignore"></div>
  <div class="grid-item grid-ignore"></div>

</div>

<% end %>
