<% if logged_in? %>
<div class="topnav-container">

  <div class="grid-item grid-ignore"></div>
  <div class="grid-item grid-ignore"></div>
  <div class="grid-item"><%= link_to "Home", root_path %> </div>
  <div class="grid-item"><%= link_to "Cat", root_path %></div>
  <div class="grid-item grid-ignore"><%= link_to image_tag("/assets/tc2.png", :class =>"cc-image animated swing"), root_path %></div>
  <div class="grid-item grid-ignore"><input type="search" placeholder="Search"></input></div>
  <div class="grid-item"> <%= link_to 'Logout', logout_path, method: :delete %></div>
  <div class="grid-item grid-ignore"></div>
  <div class="grid-item grid-ignore"></div>

</div>

<% end %> 
