<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/application.css">
  </head>
  <body>
    <%= render "layouts/topnav" %>
    <%= render "layouts/sidenav" %>
    <%= yield %>
  </body>
</html>
